# Whisper-based transcription dependencies
git+https://github.com/openai/whisper.git
tinytag>=1.8.0  # lightweight audio metadata reader
ttkbootstrap

# PyTorch with CUDA 11.8 support
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118



# Device performance monitoring 
psutil>=5.9.0
pynvml==11.4.1  # Known stable version

matplotlib seaborn
# Parquet output support
pyarrow

#Dimmension Compression
umap-learn
#Feature Extraction
librosa
#Mask silence and noise
silero-vad
